* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0f1b4c;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

.btn {
    min-width: 98px;
    padding: 18px 16px;
    border-radius: 8px;
    background: #0f1b4c;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
    display: inline-block;
    text-align: center;
}

.content {
    width: 1110px;
    max-width: calc(100% - 50px);
    margin-left: auto;
    margin-right: auto;
}

.hero-wrap {
    background: #e6f0ff;
    height: calc(100vh - 70px);
    position: relative;
    margin-bottom: 79px;
    display: flex;
    align-items: center;
}

.fixed-header {
    background: #e6f0ff;
    position: sticky;
    top: -20px;
    z-index: 1;
    padding-top: 20px;
}

.fixed-header .navbar {
    display: flex;
    align-items: center;
    padding: 7px 0;
}

.fixed-header .list {
    display: flex;
}

.fixed-header .list a {
    color: #4f5361;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 10px 14px;
}

.fixed-header .action {
    margin-left: auto;
}

.fixed-header .logo {
    margin-right: 50px;
}

.fixed-header .link {
    color: #4f5361;
    font-size: 1.4rem;
    font-weight: 500;
    margin-right: 18px;
}

.fixed-header .btn-action {
    padding: 13px 16px;
}

.fixed-header a:hover {
    text-decoration: underline;
}
/*  */
.hero-wrap .hero {
    display: flex;
}

.hero .desc1 {
    color: #687690;
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 8px;
}

.hero .heading {
    color: #000336;
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 76px;
    margin-bottom: 30px;
}

.hero .info {
    width: 559px;
}

.hero .desc2 {
    color: #5a6473;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 40px;
}

.hero .image {
    width: 534px;
    position: absolute;
    bottom: 0;
    right: calc((100vw - 1110px) / 2 - 40px);
}

.hero .btn-hero {
    min-width: 170px;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
}

.clients .content {
    padding: 43px 0 41px 0;
}

.clients .row {
    display: flex;
    justify-content: space-between;
}

.clients .row1 {
    margin-bottom: 23px;
}

.clients .row-rate {
    color: #7d8589;
    font-size: 16px;
    font-weight: 500;
}

.clients .image-block {
    margin-top: 70px;
}

.guides .content {
    width: 685px;
    padding-top: 43px;
    margin-top: 40px;
}

.guides .sub-title {
    color: #000339;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    position: relative;
}

.guides .sub-title::before {
    content: "";
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.guides .desc {
    color: #5a6473;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    width: 459px;
    margin: 20px auto 70px auto;
}

.guides .list-guides {
    display: flex;
    justify-content: space-between;
}

.guides .guide-item {
    color: #3b3c45;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.guides .list-guides .link {
    color: #0689ff;
    font-size: 14px;
    font-weight: 600;
}

.guide-item .link .label {
    margin-left: 8px;
}

.guides .guide-cta {
    display: flex;
    justify-content: center;
}

.guides .guide-cta .btn {
    margin-top: 62px;
    margin-bottom: 120px;
}

.featured {
    background: #f5fafe;
    padding: 110px 0;
}

.featured .sub-title {
    color: #000339;
    font-size: 35px;
    font-weight: 600;
}

.featured .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.featured .desc {
    color: #5a6473;
    font-size: 16px;
    font-weight: 400;
}

.featured .link {
    color: #0689ff;
    font-size: 18px;
    font-weight: 600;
}

.featured .label {
    margin-left: 8px;
}

.featured .featured-list {
    display: flex;
    margin-top: 70px;
    gap: 30px;
}

.featured .featured-list .image {
    width: 350px;
    height: 227px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.featured-list .item {
    border-radius: 12px;
    background: #fff;
    width: 350px;
    height: 357px;
}

.featured-list .body {
    padding: 17px 0 22px 20px;
}

.featured .body .sub-section {
    color: #000339;
    font-size: 20px;
    font-weight: 600;
}

.featured .body .desc {
    color: #a3a6ab;
    font-size: 14px;
    font-weight: 500;
    margin-top: 11px;
    margin-bottom: 21px;
}

.featured-list .info {
    display: flex;
    align-items: center;
}

.featured-list .label {
    margin-right: 23px;
    color: #4d4d52;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.14px;
}

.featured-list .label:first-child {
    margin-left: 23px;
}

.stats {
    padding: 50px 0;
    margin-top: 75px;
    margin-bottom: 51px;
}

.stats .content {
    width: 1017px;
}

.stats .row {
    display: flex;
}

.stats .image-block,
.stats .info {
    width: 50%;
}

.stats .row .image-block {
    width: 520px;
    height: 460px;
    position: relative;
}

.stats .image-block .image {
    display: block;
    width: 400px;
    height: 460px;
    object-fit: cover;
    margin-left: auto;
    border-radius: 12px;
}

.stats .info {
    padding: 79px 0 0 165px;
}

.stats .info .sub-title {
    color: #000339;
    font-size: 35px;
    font-weight: 600;
    line-height: 45px;
}

.stats .info .desc {
    color: #5a6473;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
}

.stats .stats-trend {
    position: absolute;
    width: 239px;
    height: 252px;
    border-radius: 0px 0px 12px 12px;
    background: #f6f4f4;
    box-shadow: 90px 85px 100px 0px rgba(0, 0, 0, 0.06);
    top: 0;
}

.stats .stats-trend {
    padding: 45px 23px 40px;
}

.stats .stats-trend .value {
    color: #000339;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.26px;
}

.stats .stats-trend .icon {
    margin-left: auto;
}

.stats .stats-trend .desc {
    margin-top: 8px;
    color: #a7a7a7;
    font-size: 12px;
    font-weight: 400;
}

.stats .stats-trend .separate {
    width: 193.62px;
    height: 1.2px;
    background: #e9e9e9;
    margin: 26px 0;
}

.stats .avatar-block {
    display: flex;
    flex-wrap: wrap;
    gap: 17px 14px;
}

.stats .avatar-block .avt {
    width: 16.337px;
    height: 16.337px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: -8px;
}

.stats .avatar-block .avt:first-child {
    margin-left: 0;
}

.stats .stats-info {
    display: flex;
    justify-content: space-between;
    margin-top: 110px;
}

.stats .stats-info .value {
    color: #000;
    font-size: 64px;
    font-weight: 600;
}

.stats .stats-info .desc {
    color: #7b8087;
    font-size: 18px;
    font-weight: 500;
    margin-top: 24px;
}

.subscription {
    padding-top: 39px;
    padding-bottom: 55px;
}

.subscription .content {
    border-radius: 20px;
    background: #063183;
    height: 370px;
    position: relative;
}

.subscription .sub-title {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.subscription .info {
    padding: 110px 0 110px 80px;
}
.subscription .desc {
    margin-top: 15px;
    color: #ccc;
    font-size: 16px;
    font-weight: 400;
}

.subscription .subscription-btn {
    width: 151px;
    background: #fff;
    color: #002366;
    font-size: 13px;
    font-weight: 500;
    margin-top: 40px;
}

.subscription .image {
    position: absolute;
    bottom: 0;
    right: 232px;
}

.footer .body {
    display: flex;
    gap: 185px;
}

.footer .column .sub-section {
    color: #1c1c1d;
    font-size: 20px;
    font-weight: 700;
}

.footer .column .link {
    color: #7a7a7e;
    font-size: 16px;
    font-weight: 400;
}

.footer .column .desc {
    width: 257px;
    color: #7a7a7e;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.footer .column .img {
    margin-top: 40px;
    margin-right: 20px;
}

.footer .sub-section {
    margin-bottom: 42px;
}

.footer .column .item {
    margin-bottom: 17px;
    white-space: nowrap;
}

.footer .copyright {
    color: #c2c2c2;
    font-size: 14px;
    font-weight: 400;
}

.footer .row {
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 74px;
}
